<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LL JAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Favicon PNG -->
<link rel="icon" href="/logo_yapuka.png" type="image/png">

<!-- Favicon ICO (optionnel) -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<!-- Apple touch icons (mobile) -->
<link rel="apple-touch-icon" href="/logo_yapuka.png">
<link rel="apple-touch-icon" sizes="180x180" href="/logo_yapuka.png">

<!-- Windows 8 Tile -->
<meta name="msapplication-TileImage" content="/logo_yapuka.png">